In [12]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [13]:
df = pd.read_csv('nba.csv')

In [14]:
df.shape

(458, 9)

In [15]:
df.dtypes

Name         object
Team         object
Number      float64
Position     object
Age         float64
Height       object
Weight      float64
College      object
Salary      float64
dtype: object

In [16]:
df.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [17]:
df.describe()

           Number         Age      Weight        Salary
count  457.000000  457.000000  457.000000  4.460000e+02
mean    17.678337   26.938731  221.522976  4.842684e+06
std     15.966090    4.404016   26.368343  5.229238e+06
min      0.000000   19.000000  161.000000  3.088800e+04
25%      5.000000   24.000000  200.000000  1.044792e+06
50%     13.000000   26.000000  220.000000  2.839073e+06
75%     25.000000   30.000000  240.000000  6.500000e+06
max     99.000000   40.000000  307.000000  2.500000e+07

In [18]:
df.isnull().sum()

Name         1
Team         1
Number       1
Position     1
Age          1
Height       1
Weight       1
College     85
Salary      12
dtype: int64

In [26]:
df['College'] = df['College'].fillna(df['College'].mode()[0])

In [27]:
df['Salary'] = df['Salary'].fillna(df['Salary'].mean())

In [28]:
df.isnull().sum()

Name        1
Team        1
Number      1
Position    1
Age         1
Height      1
Weight      1
College     0
Salary      0
dtype: int64

In [29]:
df.dropna(inplace = True)

In [30]:
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7.730337e+06
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6.796117e+06
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,4.842684e+06
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1.148640e+06
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,Kentucky,5.000000e+06
...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2.239800e+06
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2.433333e+06
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,Kentucky,9.000000e+05
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,Kentucky,2.900000e+06
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,9.472760e+05

In [33]:
team_grps = df.groupby(df['Team'])

In [37]:
team_grps.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7.730337e+06
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6.796117e+06
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,4.842684e+06
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1.148640e+06
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,Kentucky,5.000000e+06
...,...,...,...,...,...,...,...,...,...
442,Trevor Booker,Utah Jazz,33.0,PF,28.0,6-8,228.0,Clemson,4.775000e+06
443,Trey Burke,Utah Jazz,3.0,PG,23.0,6-1,191.0,Michigan,2.658240e+06
444,Alec Burks,Utah Jazz,10.0,SG,24.0,6-6,214.0,Colorado,9.463484e+06
445,Dante Exum,Utah Jazz,11.0,PG,20.0,6-6,190.0,Kentucky,3.777720e+06
446,Derrick Favors,Utah Jazz,15.0,PF,24.0,6-10,265.0,Georgia Tech,1.200000e+07

In [40]:
team_grps['Salary'].describe()

,count,mean,std,min,25%,50%,75%,max
Team,,,,,,,,
Atlanta Hawks,15.0,4.860197e+06,5.194508e+06,525093.0,1152260.00,2.854940e+06,6.873240e+06,18671659.0
Boston Celtics,15.0,4.225583e+06,3.036396e+06,1148640.0,1994760.00,3.425510e+06,5.898058e+06,12000000.0
Brooklyn Nets,15.0,3.501898e+06,5.317817e+06,134215.0,947276.00,1.335480e+06,2.512675e+06,19689000.0
Charlotte Hornets,15.0,5.222728e+06,4.538601e+06,189455.0,1543138.00,4.204200e+06,6.665702e+06,13500000.0
Chicago Bulls,15.0,5.785559e+06,6.251088e+06,525093.0,1203290.50,2.380440e+06,7.974380e+06,20093064.0
Cleveland Cavaliers,15.0,7.455425e+06,7.484116e+06,111196.0,1211638.00,4.950000e+06,1.162482e+07,22970500.0
Dallas Mavericks,15.0,4.746582e+06,5.030279e+06,525093.0,1185783.00,3.950313e+06,5.289487e+06,16407500.0
Denver Nuggets,15.0,4.330974e+06,4.165468e+06,258489.0,1647099.50,3.000000e+06,4.593842e+06,14000000.0
Detroit Pistons,15.0,4.477884e+06,4.668478e+06,111444.0,1711452.50,2.891760e+06,5.635000e+06,16000000.0
Golden State Warriors,15.0,5.924600e+06,5.664282e+06,289755.0,1201462.00,3.815000e+06,1.154062e+07,15501000.0
Houston Rockets,15.0,5.018868e+06,6.414749e+06,200600.0,973638.00,2.288205e+06,7.339758e+06,22359364.0
Indiana Pacers,15.0,4.450122e+06,4.584514e+06,211744.0,1053513.00,4.000000e+06,5.697112e+06,17120106.0
Los Angeles Clippers,15.0,6.323643e+06,7.600225e+06,111444.0,1024164.00,3.110796e+06,8.367500e+06,21468695.0
Los Angeles Lakers,15.0,4.784695e+06,6.835688e+06,525093.0,896167.50,1.724250e+06,5.161144e+06,25000000.0
Memphis Grizzlies,18.0,5.328979e+06,4.556591e+06,700902.0,1939075.00,4.842684e+06,5.387635e+06,19688000.0
Miami Heat,15.0,6.146736e+06,7.285680e+06,261894.0,947276.00,2.854940e+06,7.847668e+06,22192730.0
Milwaukee Bucks,16.0,4.350220e+06,4.875071e+06,295327.0,1483589.00,2.254167e+06,5.514330e+06,16407500.0
Minnesota Timberwolves,14.0,4.610884e+06,3.977783e+06,947276.0,1590540.00,3.049180e+06,5.744910e+06,12700000.0
New Orleans Pelicans,19.0,4.355304e+06,4.537874e+06,55722.0,981348.50,2.850000e+06,7.785365e+06,15514031.0
New York Knicks,16.0,4.581494e+06,5.952487e+06,30888.0,921721.75,2.225421e+06,4.949493e+06,22875000.0
Oklahoma City Thunder,15.0,6.251020e+06,6.632400e+06,222888.0,1742280.00,3.344000e+06,8.694215e+06,20158622.0
Orlando Magic,14.0,4.297248e+06,3.068412e+06,845059.0,2311302.00,3.956580e+06,5.144390e+06,11250000.0
Philadelphia 76ers,15.0,2.389039e+06,1.953024e+06,525093.0,947276.00,1.074169e+06,4.020240e+06,6500000.0
Phoenix Suns,15.0,4.229676e+06,5.022561e+06,55722.0,964312.00,2.041080e+06,5.500000e+06,13500000.0
Portland Trail Blazers,15.0,3.220121e+06,2.392741e+06,525093.0,1181398.00,2.854940e+06,4.626144e+06,8042895.0
Sacramento Kings,15.0,4.778911e+06,4.701792e+06,525093.0,998384.50,3.156600e+06,6.880303e+06,15851950.0
San Antonio Spurs,15.0,5.629516e+06,6.396804e+06,200600.0,1045078.00,2.814000e+06,8.750000e+06,19689000.0
Toronto Raptors,15.0,4.741174e+06,4.195943e+06,245177.0,1683000.00,2.900000e+06,6.634338e+06,13600000.0
Utah Jazz,15.0,4.204006e+06,4.467878e+06,900000.0,1262160.00,2.433333e+06,4.276360e+06,15409570.0
Washington Wizards,15.0,5.088576e+06,4.869388e+06,200600.0,1510421.00,4.000000e+06,6.847337e+06,15851950.0

In [42]:
team_grps['College'].describe()

                       count unique       top freq
Team
Atlanta Hawks             15     12  Kentucky    4
Boston Celtics            15     12  Kentucky    3
Brooklyn Nets             15     13  Kentucky    2
Charlotte Hornets         15     10  Kentucky    4
Chicago Bulls             15     12  Kentucky    3
Cleveland Cavaliers       15     11  Kentucky    3
Dallas Mavericks          15     12  Kentucky    3
Denver Nuggets            15     10  Kentucky    6
Detroit Pistons           15     15      UNLV    1
Golden State Warriors     15     12  Kentucky    3
Houston Rockets           15     11  Kentucky    5
Indiana Pacers            15     12  Kentucky    3
Los Angeles Clippers      15     13    Kansas    2
Los Angeles Lakers        15     12  Kentucky    4
Memphis Grizzlies         18     14      UCLA    3
Miami Heat                15     10  Kentucky    4
Milwaukee Bucks           16     13  Kentucky    2
Minnesota Timberwolves    14      7  Kentucky    7
New Orleans Pelicans      19     16  Kentucky    4
New York Knicks           16     12  Kentucky    5
Oklahoma City Thunder     15     13  Kentucky    3
Orlando Magic             14     10  Kentucky    4
Philadelphia 76ers        15     14      Duke    2
Phoenix Suns              15     10  Kentucky    6
Portland Trail Blazers    15     14      Duke    2
Sacramento Kings          15     10  Kentucky    5
San Antonio Spurs         15     12  Kentucky    4
Toronto Raptors           15     10  Kentucky    6
Utah Jazz                 15      9  Kentucky    6
Washington Wizards        15     10    Kansas    3